<div class="panel panel-primary">
    <div class="panel-heading">Home Component</div>
    <div class="panel-body">Open the chrome dev tool and go to Network tab. Navigate to other page to see lazy load module works. You will see it load the *.chunk.js file when you visit that page for forst time.</div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-5" *ngFor="let c of todayEvents;">
            <div class="event_dashboard">
                <mat-card class="event_card">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="table-row" style="font-weight: 600; border-top: none;">
                                    <td colspan="2" style="border-top: none;">
                                        {{c.events_code}}
                                    </td>
                                </tr>
                                <tr class="table-row" style="font-weight: 300; border-top: 1px solid #e5e9ec">
                                    <td>
                                        Event Name
                                    </td>
                                    <td>
                                        {{c.event_name}}
                                    </td>
                                </tr>
                                <tr class="table-row" style="font-weight: 300; border-top: 1px solid #e5e9ec">
                                    <td>
                                        Date Start
                                    </td>
                                    <td>
                                        {{c.event_date_start}}
                                    </td>
                                </tr>
                                <tr class="table-row" style="font-weight: 300; border-top: 1px solid #e5e9ec">
                                    <td>
                                        Total Amount
                                    </td>
                                    <td>
                                        {{c.total_amount}}
                                    </td>
                                </tr>
                                <tr class="table-row" style="font-weight: 300; border-top: 1px solid #e5e9ec">
                                    <td>
                                        Recieve Amount
                                    </td>
                                    <td>
                                        {{c.recieved_amount}}
                                    </td>
                                </tr>
                                <tr class="table-row" style="font-weight: 300; border-top: 1px solid #e5e9ec">
                                    <td>
                                        Amount Balance
                                    </td>
                                    <td>
                                        {{c.amount_balance}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="charts">
    <fusioncharts [id]=" monthlyOrdersChart " [width]="monthlyOrdersChartWidth " [height]="monthlyOrdersChartHeight " [type]="monthlyOrdersChartType " [dataFormat]="monthlyOrdersChartDataFormat " [dataSource]="monthlyOrdersChartDataSource "></fusioncharts>
</div>

<fusioncharts [id]="monthlySalesChart " [width]="monthlySalesChartWidth " [height]="monthlySalesChartHeight " [type]="monthlySalesChartType " [dataFormat]="monthlySalesChartDataFormat " [dataSource]="monthlySalesChartDataSource "></fusioncharts>