<div class="body">
    <h4 class="head text-center">{{title}}</h4>
    <br/>
    <div class="container">
        <div class='row'>
            <div class='col-md-12 example-form'>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Your Name" [(ngModel)]="personal.name" [formControl]="textFormControl" value="">
                        <mat-error *ngIf="textFormControl.hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email" [(ngModel)]="personal.email" [formControl]="emailFormControl">
                        <mat-error *ngIf="emailFormControl.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="number" [(ngModel)]="personal.number" [formControl]="numberFormControl1" value="">
                        <mat-error *ngIf="numberFormControl.hasError('pattern')">
                            Please enter a valid number
                        </mat-error>
                        <mat-error *ngIf="numberFormControl.hasError('required')">
                            Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group text-center">
                    <mat-slide-toggle (change)="onChange($event)" [(ngModel)]="toggle">Slide me!</mat-slide-toggle>
                    <!-- <button class="btn btn-success btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)"> Next <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button> -->
                </div>

                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Title" [(ngModel)]="eventDetails.title" [formControl]="textFormControl" value="">
                        <mat-error *ngIf="textFormControl.hasError('required')">
                            Title is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Address" [(ngModel)]="eventDetails.location" [formControl]="textFormControl" value="">
                        <mat-error *ngIf="textFormControl.hasError('required')">
                            Address is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="container tab-pane fade in active" *ngIf="toggle">
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Per Head" [(ngModel)]="eventDetails.perHead" [formControl]="numberFormControl" value="">
                        <mat-error *ngIf="numberFormControl.hasError('pattern')">
                            Please enter a valid number
                        </mat-error>
                        <mat-error *ngIf="numberFormControl.hasError('required')">
                            Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="no of guests" [(ngModel)]="eventDetails.noOfGuests" [formControl]="numberFormControl" value="">
                        <mat-error *ngIf="numberFormControl.hasError('pattern')">
                            Please enter a valid number
                        </mat-error>
                        <mat-error *ngIf="numberFormControl.hasError('required')">
                            Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>`
        </div>
        <div class="row">
            <div class="container">
                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input matInput disabled placeholder="Gross Amount" [(ngModel)]="finance.totalCost" value="{{ getTotalCost(eventDetails.perHead, eventDetails.noOfGuests) }}">
                    </mat-form-field>
                </div>
                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Discount" [(ngModel)]="finance.discount" value="0">
                    </mat-form-field>
                </div>

                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input matInput disabled placeholder="Net Amount" [(ngModel)]="finance.netAmount" value="{{ getNetAmount(finance.totalCost, finance.discount) }}">
                    </mat-form-field>
                </div>
                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Advance" [(ngModel)]="finance.amountPaid" value="0">
                    </mat-form-field>
                </div>

                <div class="row">

                    <mat-form-field class="example-full-width">
                        <input matInput disabled placeholder="Balance" [(ngModel)]="finance.amountRemaining" value="{{ getBalance(finance.netAmount, finance.amountPaid) }}">
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="align-center btn-custom col-md-12 btn-color-1">
                <button type="button" mat-raised-button color="primary" (click)="saveEvent()">Save</button>
            </div>
        </div>
    </div>
</div>