<div class="body">
    <div class="example-header">
        <mat-form-field>
            <mat-select placeholder="Select Category" (ngModelChange)="filterChange($event)" [(ngModel)]="selectedcategory">
                <mat-option *ngFor="let category of categories" [value]="category.category_name">
                    {{ category.category_name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef class="customWidthClass5"></mat-header-cell>
                <mat-cell *matCellDef="let itemSource" [ngStyle]="{'background-color': itemSource.quantity <= 4? 'green' : 'red'}" class="customWidthClass5 example-full-width" matTooltip="{{itemSource.quantity}}">
                    <span>&nbsp;</span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="sku">
                <mat-header-cell *matHeaderCellDef class="customWidthClass2 ">
                    SKU
                </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass2 "> {{itemSource.items_code}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="unitprice">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Unit Price </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.price}}
                </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef class="customWidthClass3 "> Name </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass3 "> {{itemSource.name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef class="customWidthClass2 "> Category </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass2 "> {{itemSource.category}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef class="customWidthClass2 ">
                    Quantity
                </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass2 "> {{itemSource.quantity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="color">
                <mat-header-cell *matHeaderCellDef class="customWidthClass2 ">
                    Color
                </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass2 "> {{itemSource.color}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="update">
                <mat-header-cell *matHeaderCellDef class="customWidthClass2 ">
                    Update
                </mat-header-cell>
                <mat-cell *matCellDef="let itemSource " class="customWidthClass2 "> <button type="button" mat-raised-button color="primary" (click)="updateItem(itemSource)">Update Item</button> </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="selection.toggle(row) ">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100] "></mat-paginator>
    </div>

    <div class="row">
        <div class="align-center btn-custom col-md-12 btn-color-1">
            <button type="button" mat-raised-button color="primary" (click)="goToNext()">Add Item</button>
        </div>
    </div>

    <div class="row">
        <div class="align-center btn-custom col-md-12 btn-color-1">
            <h4>Categories</h4>
        </div>
    </div>

    <div class="row">
        <mat-chip-list *ngFor="let c of categoryArray;" style="padding:4px">
            <mat-chip color="primary" selected="true">{{c.category_name}}</mat-chip>
        </mat-chip-list>
    </div>

    <div class="row">
        <div class="align-center btn-custom col-md-12 btn-color-1">
            <button type="button" mat-raised-button color="primary" (click)="goToCategory()">Add Category</button>
        </div>
    </div>
</div>