<div class="body">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="eventcode">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Event Code </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.events_code}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventdatestart">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Event Date Start </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.event_date_start}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="eventdateend">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Event Date End </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.event_date_end}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="totalamount">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Total Amount </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.total_amount}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="amountremaining">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Amount Remaining </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    {{itemSource.amount_balance}}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="updatebtn">
                <mat-header-cell *matHeaderCellDef class="customWidthClass1"> Update </mat-header-cell>
                <mat-cell *matCellDef="let itemSource" class="customWidthClass1">
                    <button mat-button (click)="goToNext(itemSource.events_code)">Click me!</button>
                </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; " (click)="selection.toggle(row) ">
            </mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100] "></mat-paginator>
    </div>

    <div class="row">
        <div class="align-center btn-custom col-md-12 btn-color-1">
            <button type="button" mat-raised-button color="primary" (click)="goToNext()">Add Event</button>
        </div>
    </div>
</div>