.tab-content .tab-pane {
    padding-top: 20px;
}

.alert {
    padding: 8px;
    margin-bottom: 8px;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.body-container {
    margin-top: 10em;
    position: relative;
}

.heading {
    text-align: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 200;
}

.event-form-datepicker {
    text-align: center;
    align-content: center;
    width: 500px;
}

.align-center {
    align-content: center;
    text-align: center;
}

.btn-custom {
    margin-top: 2em;
    padding-top: 20px;
}

.form-custom {
    padding: 15px;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);
    box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.6);
}

.customWidthClass1 {
    flex: 0 0 100px !important;
    text-align: center;
}

.customWidthClass2 {
    flex: 0 0 150px !important;
    text-align: center;
}

.customWidthClass3 {
    flex: 0 0 150px !important;
    text-align: center;
}

.customWidthClass4 {
    flex: 0 0 200px !important;
    text-align: center;
    overflow: initial !important;
    float: right;
}

.customWidthClass4 {
    flex: 0 0 200px !important;
    text-align: center;
    overflow: initial !important;
    float: right;
}

.customWidthClass5 {
    flex: 0 0 10px !important;
    min-height: 57px;
    text-align: center;
    overflow: initial !important;
    float: left;
}